<p>
    <label for="event-name">
        Event Name 
    </label>
    <input type="text" id="event-name" name="event-name" placeholder="Event Name">
    </p>
    <br>
    <p>
    <label for="host-name">
        Host Name
    </label>
    <input type="text" id="host-name" name="host-name" placeholder="Host Name">
    </p>
    <br>
    <p>
    <label for="location-name">
        Artist Stage Name
    </label>
    <input type="text" id="location-name" name="location-name" placeholder="Artist Stage Name">
    </p>
    <br>
    <p>
    <label for="event-date">
        Date of Event
    </label>
    <input type="date" id="event-date" name="event-date">
    </p>
    <br>
    <p>
    <label for="event-address">
        Event Address
    </label>
    <input type="text" id="event-address" name="event-address" placeholder="Event Address">
    </p>
    <br>
    <!--Submit Button-->
    <br>
    <input type="submit" class="primary-btn" value="Add Your Event to our Calendar" onclick="getEventData();">