        <p>
            <label for="first-name">
                First Name 
            </label>
            <input type="text" id="first-name" name="first-name" placeholder="First Name">
        </p>
        <br>
        <p>
            <label for="last-name">
                 Last Name
            </label>
            <input type="text" id="last-name" name="last-name" placeholder="Last Name">
        </p>
        <br>
        <p>
            <label for="birthdate">
                Date of Birth
            </label>
            <input type="date" id="birthdate" name="birthdate">
        </p>
        <br>
        <p>
            <label for="username">
                Choose a Username
            </label>
            <input type="text" id="username" name="username" placeholder="Username">
        </p>
        <br>
        <p>
            <label for="password">
                Choose a Password
            </label>
            <input type="password" id="password" name="password" placeholder="Password">
        </p>
        <br>
        <p>
            <label for="password-verify">
                Verify Your Password
            </label>
            <input type="password-verify" id="password-verify" placeholder="Verify Password">
        </p>
        <br>
        <div style="clear:both"></div>
        <br>
        <input type="submit" class="form-btn" value="Sign Up" onclick="getMemberData();">
