<!DOCTYPE html>
<html>
	<head>
		<title>
			Album - The Music Collection
		</title>
		<link href="/css/styles.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- code starting here-->
		<section id="login-section">
			<div id="login-section-wrapper">
				<div id="logo">
					<a href="/"><img src="/images/the-music-collection-logo.png" alt="The Music Collection Logo"></a>
			</div>
				<!--check here-->
				<div id="login-search-section">
					<div id="login">
						<a href="/login">Login</a>
					</div>
					<div id="login">
						<a href="/signup">Register</a>
					</div>
					<div id="search-wrapper">
						<input type="text" id="search" name="search">
					</div>
				</div>
				<!--check end-->
		</div>
		</section>
		<div style="clear:both"></div>
		<section id="navigation">
			<nav id="main">
				<a class="main-nav-item" href="/events">Upcoming Events</a>
				<a class="main-nav-item" href="/underground">Underground</a>
				<a class="main-nav-item" href="/library">Library</a>
				<div class="dropdown-menu">
					<button class="menu-btn">Artists</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/artists">Browse Artists</a>
						<a class="main-nav-item-hidden" href="/artists/new">Add an Artist</a>
					</div>
				</div>
				<div class="dropdown-menu">
					<button class="menu-btn">Albums</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/albums">Browse Albums</a>
						<a class="main-nav-item-hidden" href="/albums/new">Add an Album</a>
					</div>
				</div>
				</nav>
		</section>
		<section id="album-detail">
		<div class="album-detail-wrapper">
			<div class="album-detail-container">
				<div>
						<h2 class="artist-name">Album: My Love is Your Love</h2>
				</div>
				<div class="album-cover-detail">
					<div class="button-wrapper">		
						<button class="primary-btn">Play</button>
						<button class="primary-btn">Download</button>					
					</div>
					<div class="album-cover">
						<img src="images/my-love-is-your-love.jpeg" alt="Whitney Houston, 'My Love is Your Love' Album Cover">
					</div>
						<p>Whitney Houston</p>
				</div>
			</div>
		</div>
		</section>
<div style="clear:both"></div>
		<section>
			<div class="songs-wrapper">
				<div class="song-row">
					<div class="song-detail-wrapper">
						<div class="song-detail-container">
							<div class="song-detail title">It's Not Right but It's Okay 	</div>
							<div class="song-detail play-controls"><i class="fa fa-backward"></i> <i class="fa fa-pause"></i> <i class="fa fa-play"></i> <i class="fa fa-forward"></i></div>
						</div>
						<div style="clear:both">
						<div class="song-detail-container">
							<div class="song-detail title">Heartbreak Hotel 				</div>
							<div class="song-detail play-controls"><i class="fa fa-backward"></i> <i class="fa fa-pause"></i> <i class="fa fa-play"></i> <i class="fa fa-forward"></i></div>
						</div>
						<div style="clear:both">
						<div class="song-detail-container">
							<div class="song-detail title">My Love Is Your Love 			</div>
							<div class="song-detail play-controls"><i class="fa fa-backward"></i> <i class="fa fa-pause"></i> <i class="fa fa-play"></i> <i class="fa fa-forward"></i></div>
						</div>
						<div style="clear:both">
						<div class="song-detail-container">
							<div class="song-detail title">When You Believe 				</div>
							<div class="song-detail play-controls"><i class="fa fa-backward"></i> <i class="fa fa-pause"></i> <i class="fa fa-play"></i> <i class="fa fa-forward"></i></div>
						</div>
						<div style="clear:both">
						<div class="song-detail-container">
							<div class="song-detail title">If I Told You That 				</div>
							<div class="song-detail play-controls"><i class="fa fa-backward"></i> <i class="fa fa-pause"></i> <i class="fa fa-play"></i> <i class="fa fa-forward"></i></div>
						</div>
						<div style="clear:both">
						<div class="song-detail-container">
							<div class="song-detail title">In My Business 					</div>
							<div class="song-detail play-controls"><i class="fa fa-backward"></i> <i class="fa fa-pause"></i> <i class="fa fa-play"></i> <i class="fa fa-forward"></i></div>
						</div>
						<div style="clear:both">
						<div class="song-detail-container">
							<div class="song-detail title">I Learned from the Best 			</div>
							<div class="song-detail play-controls"><i class="fa fa-backward"></i> <i class="fa fa-pause"></i> <i class="fa fa-play"></i> <i class="fa fa-forward"></i></div>
						</div>
						<div style="clear:both">
						<div class="song-detail-container">
							<div class="song-detail title">Oh Yes 							</div>
							<div class="song-detail play-controls"><i class="fa fa-backward"></i> <i class="fa fa-pause"></i> <i class="fa fa-play"></i> <i class="fa fa-forward"></i></div>
						</div>
						<div style="clear:both">
						<div class="song-detail-container">
							<div class="song-detail title">Get It Back 						</div>
							<div class="song-detail play-controls"><i class="fa fa-backward"></i> <i class="fa fa-pause"></i> <i class="fa fa-play"></i> <i class="fa fa-forward"></i></div>
						</div>
						<div style="clear:both">
						<div class="song-detail-container">
							<div class="song-detail title">Until You Come Back 				</div>
							<div class="song-detail play-controls"><i class="fa fa-backward"></i> <i class="fa fa-pause"></i> <i class="fa fa-play"></i> <i class="fa fa-forward"></i></div>
						</div>
						<div style="clear:both">
						<div class="song-detail-container">
							<div class="song-detail title">I Bow Out 						</div>
							<div class="song-detail play-controls"><i class="fa fa-backward"></i> <i class="fa fa-pause"></i> <i class="fa fa-play"></i> <i class="fa fa-forward"></i></div>
						</div>
						<div style="clear:both">
						<div class="song-detail-container">
							<div class="song-detail title">You'll Never Stand Alone 		</div>
							<div class="song-detail play-controls"><i class="fa fa-backward"></i> <i class="fa fa-pause"></i> <i class="fa fa-play"></i> <i class="fa fa-forward"></i></div>
						</div>
						<div style="clear:both">
						<div class="song-detail-container">
							<div class="song-detail title">I Was Made to Love Him 			</div>
							<div class="song-detail play-controls"><i class="fa fa-backward"></i> <i class="fa fa-pause"></i> <i class="fa fa-play"></i> <i class="fa fa-forward"></i></div>
						</div>

<div style="clear:both">
					</div>						
				</div>
			</div>
		</section>
		<section>
			<div class="form-container">
                <div class="form-header-wrapper">
                    <h1 class="form-header">
                        Want to Add Your Album to Our Catalog?
                    </h1>
                    <h5 class="form-tagline">
                        Fill out the form <a href="/albums/new">here</a> to sign up!
                    </h5>
                </div>
			</div>
		</section>
		<div style="clear:both"></div>
		<footer>
			<p>
				Copyright 2022
			</p>
		</footer>

	</body>
</html>