<!DOCTYPE html>
<html>
	<head>
		<title>
			Artists - The Music Collection
		</title>
		<link href="/css/styles.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- code starting here-->
		<section id="login-section">
			<div id="login-section-wrapper">
				<div id="logo">
						<a href="/"><img src="/images/the-music-collection-logo.png" alt="The Music Collection Logo"></a>
				</div>
				<!--check here-->
				<div id="login-search-section">
					<div id="login">
						<a href="/login">Login</a>
					</div>
					<div id="login">
						<a href="/signup">Register</a>
					</div>
					<div id="search-wrapper">
						<input type="text" id="search" name="search">
					</div>
				</div>
				<!--check end-->
		</div>
		</section>
		<div style="clear:both"></div>
		<section id="navigation">
			<nav id="main">
				<a class="main-nav-item" href="/events">Upcoming Events</a>
				<a class="main-nav-item" href="/underground">Underground</a>
				<a class="main-nav-item" href="/library">Library</a>
				<div class="dropdown-menu">
					<button class="menu-btn">Artists</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/artists">Browse Artists</a>
						<a class="main-nav-item-hidden" href="/artists/new">Add an Artist</a>
					</div>
				</div>
				<div class="dropdown-menu">
					<button class="menu-btn">Albums</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/albums">Browse Albums</a>
						<a class="main-nav-item-hidden" href="/albums/new">Add an Album</a>
					</div>
				</div>
				</nav>
		</section>
		<section id="album-detail">
			<div class="back-btn page-header">
				<h2 class="page-title">Artists</h2>
			</div>
			<div class="artist-row-wrapper">
				<div class="artist-row">
					<div class="artist-card">
						<!--<a href="/artistView">-->
						<img src="images/whitney-houston.jpeg"  alt="Whitney Houston" title="Whitney Houston" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">WHITNEY HOUSTON</p>
						</div>
						</a>
					</div>
					<div class="artist-card">
						<img src="images/ciara.jpeg"  alt="Ciara" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">CIARA</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/tina-turner.jpeg" alt="Tina Turner" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">TINA TURNER</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/prince.jpeg" alt="Prince" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">PRINCE</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/janet-jackson.jpeg" alt="Janet Jackson" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">JANET JACKSON</p>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="artist-row-wrapper">
				<div class="artist-row">
					<div class="artist-card">
						<img src="images/eminem.jpeg" alt="Eminem" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">EMINEM</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/jay-z.jpeg" alt="Jay-Z" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">JAY-Z</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/doja-cat.jpeg" alt="Doja Cat" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">DOJA CAT</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/the-weeknd.jpeg" alt="The Weeknd" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">THE WEEKND</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/j-cole.jpeg" alt="J. Cole" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">J. COLE</p>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="artist-row-wrapper">
				<div class="artist-row">
					<div class="artist-card">
						<img src="images/usher.jpeg" alt="Usher" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">USHER</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/alicia-keys.jpeg" alt="Alicia Keys" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">ALICIA KEYS</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/ginuwine.jpeg" alt="Ginuwine" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">GINUWINE</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/jill-scott.jpeg" alt="Jill Scott" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">JILL SCOTT</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/faith-evans.jpeg" alt="Faith Evans" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">FAITH EVANS</p>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="artist-row-wrapper">
				<div class="artist-row">
					<div class="artist-card">
						<img src="images/jimi-hendrix.jpeg" alt="Jimi Hendrix" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">JIMI HENDRIX</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/little-richard.jpeg" alt="Little Richard" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">LITTLE RICHARD</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/chuck-berry.jpeg" alt="Chuck Berry" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">CHUCK BERRY</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/ray-charles.jpeg" alt="Ray Charles" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">RAY CHARLES</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="images/sam-cooke.jpeg" alt="Sam Cooke" class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">SAM COOKE</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
            <div class="form-container">
                <div class="form-header-wrapper">
                    <h1 class="form-header">
                        Add yourself to our Artist Catalog <a href="/artists/new">Here!</a>
                    </h1>
                </div>
			</div>
        </section>
		<div style="clear:both">
		
<div style="clear:both"></div>

		<footer>
			<p>
				Copyright 2022
			</p>
		</footer>

	</body>
</html>
