<!DOCTYPE html>
<html>
	<head>
		<title>
			Artist - The Music Collection
		</title>
		<link href="/css/styles.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- code starting here-->
		<section id="login-section">
			<div id="login-section-wrapper">
				<div id="logo">
						<a href="/"><img src="/images/the-music-collection-logo.png"></a>
				</div>
				<!--check here-->
				<div id="login-search-section">
					<div id="login">
						<a href="/login">Login</a>
					</div>
					<div id="login">
						<a href="/signup">Register</a>
					</div>
					<div id="search-wrapper">
						<input type="text" id="search" name="search">
					</div>
				</div>
				<!--check end-->
		</div>
		</section>
		<div style="clear:both"></div>
		<section id="navigation">
			<nav id="main">
				<a class="main-nav-item" href="/events">Upcoming Events</a>
				<a class="main-nav-item" href="/underground">Underground</a>
				<a class="main-nav-item" href="/library">Library</a>
				<div class="dropdown-menu">
					<button class="menu-btn">Artists</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/artists">Browse Artists</a>
						<a class="main-nav-item-hidden" href="/artists/new">Add an Artist</a>
					</div>
				</div>
				<div class="dropdown-menu">
					<button class="menu-btn">Albums</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/albums">Browse Albums</a>
						<a class="main-nav-item-hidden" href="/albums/new">Add an Album</a>
					</div>
				</div>
				</nav>
		</section>
		<section id="album-detail">
		<div class="album-detail-wrapper">
                    <h2 class="page-title">Whitney Houston</h2>
			<div class="album-cover-detail">
			<div class="album-cover">
				<img src="../images/whitney-houston.jpeg"/>
			</div>
			</div>
		</div>
        <div id="artist-bio">
            <div id="artist-bio-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit sed vulputate mi sit amet. Purus sit amet volutpat consequat mauris nunc congue. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Sodales ut eu sem integer vitae justo eget. Sit amet justo donec enim diam vulputate ut pharetra. Risus nullam eget felis eget nunc lobortis mattis aliquam faucibus. Nunc sed id semper risus in hendrerit gravida. Mattis aliquam faucibus purus in massa tempor. Sit amet nulla facilisi morbi.
                </p>
            </div>
        </div>
        </section>
		<div style="clear:both"></div>
		<section class="album-row-wrapper">
			<div class="artist-row-wrapper">
				<div class="category-title">
					<h5 class="category">Featured Albums</h5>
				</div>
				<div class="artist-row">
					<div class="artist-card">
						<a href="../albums" alt="My Love Is Your Love">
						<img src="../images/my-love-is-your-love.jpeg"  class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">MY LOVE IS YOUR LOVE</p>
						</div>
						</a>
					</div>
					<div class="artist-card">
						<img src="../images/i-look-to-you.jpeg"  class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">I LOOK TO YOU</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="../images/just-whitney.jpeg"  class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">JUST WHITNEY</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="../images/whitney.jpeg"  class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">WHITNEY</p>
						</div>
					</div>
					<div class="artist-card">
						<img src="../images/whitney-houston-album.jpeg"  class="linked-img"/>
						<div class="artist-name-wrapper">
							<p class="artist-card-name">WHITNEY HOUSTON</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
            <div class="form-container">
                <div class="form-header-wrapper">
                    <h1 class="form-header">
                        Add yourself to our Artist Catalog <a href="/artists/join">Here!</a>
                    </h1>
                </div>
			</div>
        </section>
		<div style="clear:both">
		
<div style="clear:both"></div>

		<footer>
			<p>
				Copyright 2022
			</p>
		</footer>

	</body>
</html>
