<!DOCTYPE html>
<html>
	<head>
		<title>
			Upcoming Events - The Music Collection
		</title>
		<link href="/css/styles.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- code starting here-->
		<section id="login-section">
			<div id="login-section-wrapper">
				<div id="logo">
					<a href="/"><img src="/images/the-music-collection-logo.png" alt="The Music Collection Logo" title="The Music Collection Logo"></a>
			</div>
				<!--check here-->
				<div id="login-search-section">
					<div id="login">
						<a href="/login">Login</a>
					</div>
					<div id="login">
						<a href="/signup">Register</a>
					</div>
					<div id="search-wrapper">
						<input type="text" id="search" name="search">
					</div>
				</div>
				<!--check end-->
		</div>
		</section>
		<div style="clear:both"></div>
		<section id="navigation">
			<nav id="main">
				<a class="main-nav-item" href="/events">Upcoming Events</a>
				<a class="main-nav-item" href="/underground">Underground</a>
				<a class="main-nav-item" href="/library">Library</a>
				<div class="dropdown-menu">
					<button class="menu-btn">Artists</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/artists">Browse Artists</a>
						<a class="main-nav-item-hidden" href="/artists/new">Add an Artist</a>
					</div>
				</div>
				<div class="dropdown-menu">
					<button class="menu-btn">Albums</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/albums">Browse Albums</a>
						<a class="main-nav-item-hidden" href="/albums/new">Add an Album</a>
					</div>
				</div>
				</nav>
		</section>
		<section id="album-detail">
		<div class="event-detail-wrapper">
			<div class="back-btn-wrapper">
			</div>
			<div class="event-name-wrapper">
				<h2 class="page-title padding-10px">Upcoming Events</h2>
			</div>
			<div class="event-title-wrapper">
				<h3 class="event-title">FEATURED EVENT:
					Moment of Truth World Tour - Whitney Houston</h3>
                <h6 class="event-date">Starts July 4th, 1987</h6>
			</div>
			<div class="button-wrapper">
				<div class="button-container-events">
					<button class="primary-btn">Buy Tickets - $45</button>
				</div>
			</div>
			<div class="album-cover-detail">
				<div class="album-cover">
					<img src="images/moment-of-truth-tour.jpeg" alt="Moment Of Truth World Tour Event Cover" title="Moment Of Truth World Tour Event Cover">
				</div>
			</div>
		</div>
<div style="clear:both"></div>
		<div class="event-description-wrapper">
			<p class="event-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem nulla pharetra diam sit amet. Pellentesque habitant morbi tristique senectus. Sagittis purus sit amet volutpat consequat. Eu lobortis elementum nibh tellus molestie nunc non blandit massa. Neque aliquam vestibulum morbi blandit cursus risus. Sed risus pretium quam vulputate. Fermentum dui faucibus in ornare. Nunc mi ipsum faucibus vitae aliquet.</p>
		</div>
		</section>
		<section>
			<div class="underground-container">
				<div class="artist-row-wrapper">
					<div class="artist-row">
						<div class="underground-card">
							<div class="event-title-wrapper">
								<h3 class="event-title">Super Bowl XXV</h3>
								<h6 class="event-date">
									Starts January 27, 1991
									<br>
									Tampa Stadium - Tampa, FL
								</h6>
							</div>
							<div class="button-wrapper">
								<div class="button-container">
									<button class="primary-btn">Buy Tickest - $45</button>
								</div>
							</div>
							<img src="images/whitney-houston-underground.jpeg" alt="Whitney Houston Super Bowl XXV Performance" title="Whitney Houston Super Bowl XXV Performance"/>
						</div>
						<div class="underground-card">
							<div class="event-title-wrapper">
								<h3 class="event-title">Concert Tour - J. Cole</h3>
								<h6 class="event-date">
									Starts June 16th, 2022
									<br>
									Great Stage Park - Manchester, TN
								</h6>
							</div>
							<div class="button-wrapper">
								<div class="button-container">
									<button class="primary-btn">Buy Tickest - $45</button>
								</div>
							</div>
							<img src="images/j-cole-underground.jpeg" alt="Concert Tour - J. Cole" title="Concert Tour - J. Cole" />
						</div>
						<!--Begin Event Card-->
						<div class="underground-card">
							<div class="event-title-wrapper">
								<h3 class="event-title">Revival Tour - Eminem</h3>
								<h6 class="event-date">
									Starts July 12th, 2018
									<br>
									Area Expo, Germany
								</h6>
							</div>
							<div class="button-wrapper">
								<div class="button-container">
									<button class="primary-btn">Buy Tickest - $45</button>
								</div>
							</div>
							<img src="images/demon-inside-eminem.jpg" alt="Revival Tour - Eminem" title="Revival Tour - Eminem" />
						</div>
						<!--End Event Card-->
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
		</section>
		<section>
            <div class="form-container">
                <div class="form-header-wrapper">
                    <h1 class="form-header">
                        Add Your Event <a href="/events/add">Here!</a>
                    </h1>
                </div>
			</div>
        </section>
		<footer>
			<p>
				Copyright 2022
			</p>
		</footer>

	</body>
</html>
