<!DOCTYPE html>
<html>
	<head>
		<title>
			Library - The Music Collection
		</title>
		<link href="/css/styles.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- code starting here-->
		<section id="login-section">
			<div id="login-section-wrapper">
				<div id="logo">
					<a href="/"><img src="/images/the-music-collection-logo.png" alt="The Music Collection Logo" title="The Music Collection Logo"></a>
			</div>
				<!--check here-->
				<div id="login-search-section">
					<div id="login">
						<a href="/login">Login</a>
					</div>
					<div id="login">
						<a href="/signup">Register</a>
					</div>
					<div id="search-wrapper">
						<input type="text" id="search" name="search">
					</div>
				</div>
				<!--check end-->
		</div>
		</section>
		<div style="clear:both"></div>
		<section id="navigation">
			<nav id="main">
				<a class="main-nav-item" href="/events">Upcoming Events</a>
				<a class="main-nav-item" href="/underground">Underground</a>
				<a class="main-nav-item" href="/library">Library</a>
				<div class="dropdown-menu">
					<button class="menu-btn">Artists</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/artists">Browse Artists</a>
						<a class="main-nav-item-hidden" href="/artists/new">Add an Artist</a>
					</div>
				</div>
				<div class="dropdown-menu">
					<button class="menu-btn">Albums</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/albums">Browse Albums</a>
						<a class="main-nav-item-hidden" href="/albums/new">Add an Album</a>
					</div>
				</div>
				</nav>
		</section>
		<section id="user-library albums">
			<div class="page-title-wrapper">
				<h2 class="page-title">
					Your Library
				</h2>
			</div>
<div style="clear:both"></div>
<!--testing div situation-->
				<div>
					<h5 class="library-title">Albums</h5>
				</div>			
				<div class="album-row">
					<div class="album-card">
						<img src="images/planet-her.jpeg" alt="Doja Cat, 'Planet Her'" title="Doja Cat, 'Planet Her'" />
						<p class="artist-card-name">Doja Cat, <em>Planet Her</em></p>
					</div>
					<div class="album-card">
						<img src="images/not-another-love-song.jpeg" alt="Ella Mai, 'Not Another Love Song'" title="Ella Mai, 'Not Another Love Song'" />
						<p class="artist-card-name">Ella mai, <em>Not Another Love Song</em></p>
					</div>
					<div class="album-card">
						<img src="images/her-damage.jpeg" alt="H.E.R., 'Damage'" title="H.E.R., 'Damage'" />
						<p class="artist-card-name">H.E.R., <em>Damage</em></p>
					</div>
					<div class="album-card">
						<img src="images/go-to-town.jpeg" alt="Doja Cat, 'Go To Town'" title="Doja Cat, 'Go To Town'" />
						<p class="artist-card-name">Doja Cat, <em>Go To Town</em></p>
					</div>
					<div class="album-card">
						<img src="images/late-nights.jpeg" alt="Jeremih, 'Late Nights'" title="Jeremih, 'Late Nights'" />
						<p class="artist-card-name">Jeremih, <em>Late Nights</em></p>
					</div>
				</div>
<div style="clear:both"></div>
				<div>
					<h5 class="library-title">Downloads</h5>
				</div>
				<div class="album-row">
					<div class="album-card">
						<img src="images/2014-forest-hills-drive.jpeg" alt="J. Cole, 'No Role Modelz'" title="J. Cole, 'No Role Modelz'" />
						<p class="artist-card-name">J. Cole - <em>No Role Modelz</em></p>
					</div>
					<div class="album-card">
						<img src="images/you-can-do-it.jpeg" alt="Ice Cube, 'You Can Do It'" title="Ice Cube, 'You Can Do It'" />
						<p class="artist-card-name">Ice Cube - <em>You Can Do It</em></p>
					</div>
					<div class="album-card">
						<img src="images/love-the-way-you-lie.jpeg" alt="Eminem, 'Love The Way You Lie'" title="Eminem, 'Love The Way You Lie'" />
						<p class="artist-card-name">Eminem, <em>Love The Way You Lie</em></p>
					</div>
					<div class="album-card">
						<img src="images/angel-of-mine.jpeg" alt="Monica, 'Angel of Mine'" title="Monica, 'Angel of Mine'" />
						<p class="artist-card-name">Monica, <em>Angel of Mine</em></p>
					</div>
					<div class="album-card">
						<img src="images/my-dear-melancholy.png" alt="The Weeknd, 'Call Out My Name'" title="The Weeknd, 'Call Out My Name'" />
						<p class="artist-card-name">The Weeknd, <em>Call Out My Name</em></p>
					</div>
				</div>
<div style="clear:both"></div>
<!--div deal-->
			</section>
			<div style="clear:both"></div>
		<footer>
			<p>
				Copyright 2022
			</p>
		</footer>

			</body>
		
		<html>

<!--End coding here-->