<!DOCTYPE html>
<html>
	<head>
		<title>
			Member - The Artist Record Collection
		</title>
		<link href="/css/styles.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- code starting here-->
		<section id="login-section">
			<div id="login-section-wrapper">
				<div id="logo">
					<a href="/"><img src="/images/the-music-collection-logo.png" alt="The Music Collection Logo" title="The Music Collection Logo"></a>
			</div>
				<!--check here-->
				<div id="login-search-section">
					<div id="login">
						<a href="/login">Login</a>
					</div>
					<div id="login">
						<a href="/signup">Register</a>
					</div>
					<div id="search-wrapper">
						<input type="text" id="search" name="search">
					</div>
				</div>
				<!--check end-->
		</div>
		</section>
		<div style="clear:both"></div>
        <section id="navigation">
			<nav id="main">
				<a class="main-nav-item" href="#">Upcoming Events</a>
				<a class="main-nav-item" href="#">Underground</a>
				<a class="main-nav-item" href="#">Library</a>
				<div class="dropdown-menu">
					<button class="menu-btn">Artists</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/artists">Browse Artists</a>
						<a class="main-nav-item-hidden" href="/artists/new">Add an Artist</a>
					</div>
				</div>
				<div class="dropdown-menu">
					<button class="menu-btn">Albums</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/albums">Browse Albums</a>
						<a class="main-nav-item-hidden" href="/albums/new">Add an Album</a>
					</div>
				</div>
				</nav>
		</section>
		<section id="artist-collection">
			<div class="page-title-wrapper">
				<h2 class="page-title">
					Welcome, New Member!
				</h2>
			</div>
		</section>
		<section>
            <div id="form">
                <div class="form-header-wrapper">
                    <hi class="form-header">
                        New Member Sign-Up
                    </hi>
                    <h5 class="form-tagline">
                        Fill out the form below to complete your Fan registration.
                    </h5>
                </div>
				<form id="signup-form">
					<div class="form-wrapper">
						<div class="form-container">
                    		<p>
								<label for="first-name">
									First Name 
								</label>
								<input type="text" id="first-name" name="first-name">
							</p>
                    		<br>
                    		<p>
                    			<label for="last-name">
                     				Last Name
                    			</label>
                    			<input type="text" id="last-name" name="last-name">
                    		</p>
                    		<br>
                    		<p>
                    			<label for="user-name">
                    				Username
                    			</label>
                    			<input type="text" id="username" name="username">
                    		</p>
                    		<br>
						</div>
					</div>
					<!--Submit Button-->
					<div class="form-btn-wrapper">
						<div class="form-btn-container">
							<input type="submit" class="form-btn" value="Add Your Name to Our Fandom" onclick="getFanData();">
						</div>
					</div>
				</form>
			</div>
        </section>
		<footer>
			<p>
				Copyright 2022
			</p>
		</footer>

    </body>
</html>
