<!DOCTYPE html>
<html>
	<head>
		<title>
			The Underground Collection - The Artist Record Collection
		</title>
		<link href="/css/styles.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- code starting here-->
		<section id="login-section">
			<div id="login-section-wrapper">
				<div id="logo">
					<a href="/"><img src="/images/the-music-collection-logo.png" alt="The Music Collection Logo" title="The Music Collection Logo"></a>
			</div>
				<!--check here-->
				<div id="login-search-section">
					<div id="login">
						<a href="/login">Login</a>
					</div>
					<div id="login">
						<a href="/signup">Register</a>
					</div>
					<div id="search-wrapper">
						<input type="text" id="search" name="search">
					</div>
				</div>
				<!--check end-->
		</div>
		</section>
		<div style="clear:both"></div>
		<section id="navigation">
			<nav id="main">
				<a class="main-nav-item" href="/events">Upcoming Events</a>
				<a class="main-nav-item" href="/underground">Underground</a>
				<a class="main-nav-item" href="/library">Library</a>
				<div class="dropdown-menu">
					<button class="menu-btn">Artists</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/artists">Browse Artists</a>
						<a class="main-nav-item-hidden" href="/artists/new">Add an Artist</a>
					</div>
				</div>
				<div class="dropdown-menu">
					<button class="menu-btn">Albums</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/albums">Browse Albums</a>
						<a class="main-nav-item-hidden" href="/albums/new">Add an Album</a>
					</div>
				</div>
				</nav>
		</section>
		<section id="album-detail">
		
			<div class="back-btn page-header">
					<h2 class="page-title">The Underground Collection</h2>
			</div>
			
			<div class="underground-container">
				<div class="artist-row-wrapper">
					<div class="artist-row">
						<div class="underground-card">
							<div class="button-wrapper">
								<div class="button-container">
									<button class="primary-btn">Download</button>
								</div>
							</div>
							<img src="images/whitney-houston-underground.jpeg" title="Whitney Houston, 'Love Will Save The Day'" alt="Whitney Houston, 'Love Will Save The Day'" />
							<p class="artist-card-name">Whitney Houston: Love Will Save the Day</p>
						</div>
						<div class="underground-card">
							<div class="button-wrapper">
								<div class="button-container">
									<button class="primary-btn">Download</button>
								</div>
							</div>
							<img src="images/j-cole-underground.jpeg" alt="J. Cole, 'The Warm Up'" title="J. Cole, 'The Warm Up'" />
							<p class="artist-card-name">J. Cole: The Warm Up</p>
						</div>
						<div class="underground-card">
							<div class="button-wrapper">
								<div class="button-container">
									<button class="primary-btn">Download</button>
								</div>
							</div>
							<img src="images/demon-inside-eminem.jpg" alt="Eminem, 'Demon Inside'" title="Eminem, 'Demon Inside'" />
							<p class="artist-card-name">Eminem: Demon Inside</p>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
		</section>
		<div style="clear:both"></div>
		<footer>
			<p>
				Copyright 2022
			</p>
		</footer>

	</body>
</html>

