<p>
    <label for="username">
        Username 
    </label>
    <input type="text" id="username" name="username" placeholder="Username">
    </p>
    <br>
    <p>
    <label for="password">
        Password
    </label>
    <input type="password" id="password" name="password" placeholder="Password">
    </p>
    <!--Submit Button-->
    <br>
    <input type="submit" class="form-btn" value="Login" onclick="getUserData();">
</p>