<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/styles.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>
			New Event - The Music Collection
		</title>
	</head>
	<body>
		<!-- code starting here-->
		<section id="login-section">
			<div id="login-section-wrapper">
				<div id="login-section-wrapper">
					<div id="logo">
						<a href="/"><img src="/images/the-music-collection-logo.png"></a>
				</div>
				<!--check here-->
				<div id="login-search-section">
					<div id="login">
						<a href="/login">Login</a>
					</div>
					<div id="login">
						<a href="/signup">Register</a>
					</div>
					<div id="search-wrapper">
						<input type="text" id="search" name="search">
					</div>
				</div>
				<!--check end-->
		</div>
		</section>
		<div style="clear:both"></div>
		<section id="navigation">
			<nav id="main">
				<a href="/events" class="main-nav-item">Upcoming Events</a>
				<a href="/underground" class="main-nav-item">The Underground</a>
				<a href="/library" class="main-nav-item">Library</a>
				<a href="/artists" class="main-nav-item">Artists</a>
			</nav>
		</section>
        <div style="clear:both"></div>
		<section id="artist-collection">
            <div class="page-title-wrapper">
                <h2 class="page-title">
                    Member Login
                </h2>
            </div>
        </section>
        <section>
            <div class="form-container">
                <div class="form-header-wrapper">
                    <h1 class="form-header">
                        Please Sign In Below
                    </h1>
                    <h5 class="form-tagline">
                        Please enter your username and password to access exclusive content and features.
                    </h5>
                </div>
                <form method="POST" action="../event" id="form">
                    <%- include('_form_fields') %>
                </form>
				<div class="form-container">
					<div class="form-header-wrapper">
						<h1 class="form-header-signup">
							New user? Sign up <a href="/members/signup">Here!</a>
						</h1>
					</div>
				</div>
            </div>
        </section>
        <footer>
            <p>
                Copyright 2022
            </p>
        </footer>
    </body>
</html>
