<p>
<label for="albumImage">Upload Album Cover</label>
<input type="file" id="albumImage" name="albumImage" required>
</p>
<br>
<p>
<label for="artistName">
    Artist's Name 
</label>
<input type="text" id="artistName" name="artistName" placeholder="Artist's Name" required>
</p>
<br>
<p>
<label for="albumTitle">
    Album Title
</label>
<input type="text" id="albumTitle" name="albumTitle" placeholder="Album Title" required>
</p>
<br>
<p>
<label for="albumReleaseDate">
    Album Release Date
</label>
<input type="date" id="albumReleaseDate" name="albumReleaseDate" required>
</p>
<br>
<p>
<label for="albumLabel">
    Record Label
</label>
<input type="text" id="albumLabel" name="albumLabel" placeholder="Artist's Record Label" required>
</p>
<br>
<div style="clear:both"></div>
<br>
<button type="submit" class="form-btn">Add Your Album</button>