<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/styles.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>
			New Album - The Music Collection
		</title>
	</head>
	<body>
		<!-- code starting here-->
		<section id="login-section">
			<div id="login-section-wrapper">
				<div id="login-section-wrapper">
					<div id="logo">
						<a href="/"><img src="/images/the-music-collection-logo.png"></a>
				</div>
				<!--check here-->
				<div id="login-search-section">
					<div id="login">
						<a href="/login">Login</a>
					</div>
					<div id="login">
						<a href="/signup">Register</a>
					</div>
					<div id="search-wrapper">
						<input type="text" id="search" name="search">
					</div>
				</div>
				<!--check end-->
		</div>
		</section>
		<div style="clear:both"></div>
		<section id="navigation">
			<nav id="main">
				<a class="main-nav-item" href="/events">Upcoming Events</a>
				<a class="main-nav-item" href="/underground">Underground</a>
				<a class="main-nav-item" href="/library">Library</a>
				<div class="dropdown-menu">
					<button class="menu-btn">Artists</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/artists">Browse Artists</a>
						<a class="main-nav-item-hidden" href="/artists/new">Add an Artist</a>
					</div>
				</div>
				<div class="dropdown-menu">
					<button class="menu-btn">Albums</button>
					<div class="menu-content">
						<a class="main-nav-item-hidden" href="/albums/">Browse Albums</a>
						<a class="main-nav-item-hidden" href="/albums/new">Add an Album</a>
					</div>
				</div>
				</nav>
		</section>
        <div style="clear:both"></div>
		<section id="artist-collection">
            <div class="page-title-wrapper">
                <h2 class="page-title">
                    Add Album to Catalog
                </h2>
            </div>
        </section>
		<section>
			<div class="form-container">
                <div class="form-header-wrapper">
                    <h1 class="form-header">
                        Want to Add Your Album to Our Catalog?
                    </h1>
                    <h5 class="form-tagline">
                        Fill out the form below to sign up!
                    </h5>
                </div>
                <form method="POST" action="/albums" id="form" enctype="multipart/form-data">
                    <%- include('_form_fields') %>
                </form>
			</div>
		</section>
		<div style="clear:both"></div>
		<footer>
			<p>
				Copyright 2022
			</p>
		</footer>
	</body>
</html>