<p>
    <label for="artistImage">Upload Artist Photo</label>
    <input type="file" id="artistImage" name="artistImage" required>
    </p>
    <br>
    <p>
    <label for="firstName">
        Artist's First Name 
    </label>
    <input type="text" id="firstName" name="firstName" placeholder="Artist's First Name" required>
    </p>
    <br>
    <p>
    <label for="lastName">
        Artist's Last Name
    </label>
    <input type="text" id="lastName" name="lastName" placeholder="Artist's Last Name" required>
    </p>
    <br>
    <p>
    <label for="stageName">
        Artist's Stage Name
    </label>
    <input type="text" id="stageName" name="stageName" placeholder="Artist's Stage Name" required>
    </p>
    <br>
    <p>
    <label for="genre">
        Primary Genre of Music
    </label>
    <input type="text" id="genre" name="genre" placeholder="Primary Genre of Music" required>
    </p>
    <br>
    <p>
    <label for="albums">
        Artist's Albums
    </label>
    <input type="text" id="albums" name="albums" placeholder="Artist's Albums" required>
    </p>
    <br>
    <p>
    <label for="label">
        Artist's Label
    </label>
    <input type="text" id="label" name="label" placeholder="Artist's Label" required>
    </p>
    <br>
    <p>
    <label for="artist-status">
        Artist's Status
    </label><br>
    <input type="radio" id="up-and-coming-radio" name="up-and-coming" value="Up and Coming">
    <label for="up-and-coming">Up and Coming</label><br>
    <input type="radio" id="platinum-status-radio" name="platinum-status" value="Platinum">
    <label for="platinum-status">Platinum</label><br>
    </p>
    <p>
    <label for="followers">
        Followers
    </label>
    <input type="number" id="followers" name="followers" placeholder="Number of Followers" required>
    </p>
    <br>
    <p>
    <label for="fans">
        Artist's Fans
    </label>
    <input type="number" id="fans" name="fans" placeholder="Number of Fans" required>
    </p>
    <br>
    <p>
    <label for="memberSince">
        Member Since
    </label>
    <input type="date" id="memberSince" name="memberSince" required>
    </p>
    <br>
    <!--Submit Button-->
    <br>
    <input type="submit" class="primary-btn" value="Add Your Name to Our Artist List">